{% include "Inc/header.html" %}
{% load static %}

<br>
<h1>Listado de Usuarios</h1>
<table class="ui orange table">

  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Direccion</th>
      <th>Edad</th>
      <th>Telefono</th>
      <th>Cedula</th>
      <th>Correo</th>
      <th>Profesion</th>
      <th>Libro</th>
      <th>Acciones</th>
    </tr>
  </thead>
    
  <tbody>{% for u in usuarios %}
      <tr>
        <td>{{ u.1 }}</td>
        <td>{{ u.2 }}</td>
        <td>{{ u.3 }}</td>
        <td>{{ u.4 }}</td>
        <td>{{ u.5 }}</td>
        <td>{{ u.6 }}</td>
        <td>{{ u.7 }}</td>
        <td>{{ u.8 }}</td>
        <td>{{ u.9 }}</td>
        <td>
            <a href="/Usuarios/actualizar/{{ u.0 }}"><i class="edit icon"></i></a>  
            <a href="#" onclick="borrar('{{ u.0 }}')"><i class="trash icon"></i></a>
        </td>
      </tr>
  </tbody>
  {% endfor %}
</table>

<script>

  function borrar(id){
       swal({
       title: "¿Estas seguro de eliminar?",
       text: "Una vez eliminado no se puede recuperar",
       icon: "warning",
       buttons: true,
       dangerMode: true,
     })
     .then((willDelete) => {
       if (willDelete) {
          location.href = "/Usuarios/borrar/" + id;
 
       } else {
         swal("Cancelado");
       }
     });
  }
 
 </script>


{% include "Inc/footer.html" %}