{% include "Inc/header.html" %}
{% load static %}

<br>
<h1>Listado de Libros</h1>
<table class="ui green table">

  <thead>
    <tr>
      <th>Nombre del libro</th>
      <th>Categoria</th>
      <th>Paginas</th>
      <th>Ilustrador</th>
      <th>Autor</th>
      <th>Acciones</th>
    </tr>
  </thead>
    
  <tbody>{% for l in libros %}
      <tr>
        <td>{{ l.NombreLibro }}</td>
        <td>{{ l.Categoria }}</td>
        <td>{{ l.Paginas }}</td>
        <td>{{ l.Ilustrador }}</td>
        <td>{{ l.Autor }}</td>
        <td>
            <a href="/Libros/actualizar/{{ l.id }}"><i class="edit icon"></i></a>  
            <a href="#" onclick="borrar('{{ l.id }}')"><i class="trash icon"></i></a>
        </td>
      </tr>
  </tbody>
  {% endfor %}
</table>

<script>

 function borrar(id){
      swal({
      title: "¿Estas seguro de eliminar?",
      text: "Una vez eliminado no se puede recuperar",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    })
    .then((willDelete) => {
      if (willDelete) {
         location.href = "/Libros/borrar/" + id;

      } else {
        swal("Cancelado");
      }
    });
 }

</script>


{% include "Inc/footer.html" %}